@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
    padding-left: 1rem;
  }
}

#root {
  width: 100%;
  min-height: 100vh;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.h1-title {
  font-size: 2em;
  line-height: 1.1;
  letter-spacing: 0.2rem;
}

.h2-title {
  font-size: 1.5em;
  line-height: 1.1;
  letter-spacing: 0.2rem;
}
